*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--color-content: #ffffff;
	--color-font: #000000;
	--color-accent: #ff0c3a;
}

html {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

body {
	border: none;
	outline: none;
	background-color: var(--color-font);
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 320px) and (max-width: 575px) {
	.top-header {
		margin-top: 100px;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.top-header {
		margin-top: 70px;
	}
}

@media (min-width: 320px) and (max-width: 991px) {

	.logo,
	.wrap-middle-header-tel,
	.middle-header-tel,
	.middle-header-tel-description,
	.bottom-menu {
		display: none;
	}

	.top-header {
		margin-bottom: 10px;
	}

	.wrap-top-header {
		font-size: 12px;
	}

	.wrap-top-header .city span:first-child {
		padding-left: 0;
	}

	.basket-description:after {
		width: 49px;
		height: 49px;
	}
}

@media (min-width: 992px) and (max-width: 1399px) {
	.wrap-middle-header-tel span {
		font-size: 0.9rem;
	}

	.main-menu a {
		font-size: 12px;
	}
}










.navbar-main {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #ffffff;
	z-index: 10;
}

.navbar {
	left: 0;
	top: 10px;
	width: 100%;
	height: 50px;
	background: #000;
	z-index: 10;
	text-align: center;
}

.navbar-hamb {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 0 15px;
}

.navbar-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 0 15px;
}

.navbar__wrap-container {
	position: fixed;
	display: flex;
	height: 60px;
	width: 60px;
	justify-content: center;
	background-color: var(--color-font);
}

.hamb {
	display: none;
}

.popup {
	display: none;
}

.navbar-main {
	margin-bottom: 20px;
}

#menu {
	padding: 0;
}

#menu li:first-child {
	padding-top: 20px;
}

@media (min-width: 0px) and (max-width: 320px) {
	.catalog-article {
		display: none;
	}
}

@media (min-width: 0px) and (max-width: 575px) {
	.catalog-article {
		display: none;
	}
}

@media (min-width: 992px) {

	/* исчезновение гамбургера мобильного меню 
	при разрешении 992px и больше, переход 
	на десктопную версию */
	.navbar-main {
		display: none;
	}
}

@media (min-width: 0) and (max-width: 575px) {
	.popup {
		top: 210px;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.popup {
		top: 180px;
	}
}

@media (min-width: 0) and (max-width: 991px) {
	.navbar__wrap-container .menu {
		display: none;
	}

	.hamb {
		display: flex;
		align-items: center;
	}

	.hamb__field {
		padding: 10px 20px;
		cursor: pointer;
	}

	.hamb__field.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamb__field.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamb__field.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.bar {
		display: block;
		width: 30px;
		height: 3px;
		margin: 5px auto;
		background-color: var(--color-content);
		transition: 0.2s;
	}

	.popup {
		position: fixed;
		left: -50%;
		width: 50%;
		height: 100%;
		top: 60px;
		background-color: var(--color-font);
		z-index: 99;
		display: flex;
		transition: 0.3s;
	}

	.popup.open {
		left: 0;
	}

	.popup .menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: start;
		overflow: auto;
		list-style-type: none;

	}

	.popup .menu > li {
		width: 100%;
		margin: 5px 0;
	}

	.popup .menu > li > a {
		justify-content: center;
		font-size: 20px;
		font-weight: 400;
		color: var(--color-content);
		text-transform: uppercase;
		font-family: "Oranienbaum", serif;
	}

	.popup .menu > li > a:hover {
		transition: all 0.3s ease-in-out;
		color: var(--color-accent);
		text-decoration: none;
	}
}








@keyframes hide {
	0% {
		visibility: visible;
		height: 450px;
	}

	100% {
		visibility: hidden;
		width: 0;
		height: 0;
		max-width: 0;
		font-size: 0;
		margin: 0;
	}
}