*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-content: #ffffff;
  --color-font: #000000;
  --color-accent: #ff0c3a;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oranienbaum";
  src: local("Oranienbaum-Regular") format("ttf");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  border: none;
  outline: none;
  background-color: var(--color-font);
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}
.container .header {
  height: 660px;
  background-image: url("../img/bg-main.png");
  background-position: top center;
}
.container .content {
  height: auto;
  background-color: var(--color-content);
}

.nav {
  padding-top: 50px;
}
.nav .nav__link {
  list-style-type: none;
  padding-right: 5px;
  padding-left: 5px;
}
.nav .nav__link a {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--color-content);
  text-transform: uppercase;
  text-decoration: none;
}

.content__top {
  padding-bottom: 30px;
}
.content__top .content-top__header {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5;
  padding-top: 30px;
  font-size: 1.5rem;
  font-family: "Oranienbaum", serif;
}
.content__top .content-top__description {
  text-align: center;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 600;
  max-width: 80%;
  margin: 0 auto;
}
.content__top .content-top__img {
  width: 100%;
  height: auto;
}
.content__top .content-top__img-desc {
  text-align: center;
}

.content__howit {
  padding-bottom: 30px;
}
.content__howit .content-howit__header {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 170px;
  font-family: "Oranienbaum", serif;
}
.content__howit .content-howit__list {
  padding: 0 170px;
}
.content__howit .content-howit__list li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 1.1rem;
}
.content__howit .content-howit__desc {
  max-width: 50%;
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.btn__sign-up {
  display: block;
  background-color: var(--color-font);
  margin: 30px 20px;
  color: var(--color-content);
  text-transform: uppercase;
  border-radius: 3px;
  border: solid 2px var(--color-font);
  font-weight: 600;
  transition: 0.5s ease;
  padding: 5px;
}

.btn__sign-up:hover {
  background-color: #D7F1D8;
  color: var(--color-bg);
  transition: 0.5s ease;
  font-weight: 600;
  border: solid 2px var(--color-font);
  cursor: pointer;
}

.banner {
  padding: 20px 0;
}
.banner .banner__img {
  max-width: 100%;
}

.content__table-responsive {
  overflow-x: auto;
}

.table {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: solid 2px #FDC200;
  max-width: 900px;
  margin: 0 auto;
}
.table th,
.table td {
  text-align: center;
  padding: 10px;
  border-right: solid 2px #FDC200;
  font-weight: 700;
}
.table td {
  background-color: #FFF000;
  border: solid 2px #FDC200;
}
.table .thead,
.table .td-price td {
  background-color: #FFD100;
}
.table .column-1 {
  text-align: left;
  width: 40%;
}
.table .column-2 {
  width: 20%;
}

.table thead th {
  border: solid 2px #FDC200;
}

.td__currency {
  height: 100px;
  position: relative;
}
.td__currency .td-currency__block {
  position: relative;
  top: 18px;
}
.td__currency .td-currency__block .fa-solid {
  border: solid 2px #000000;
  padding: 10px;
}

.td__price fa-solid {
  font-size: 1rem;
}

.td__price {
  font-size: 1.2rem;
}

.td__price--normal-size {
  font-size: 1rem;
}

.service__title {
  font-family: "Oranienbaum";
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.content__service {
  padding: 0 5%;
}

.service-item__wrap {
  border: solid 2px #E7E7E7;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  height: 100%;
}
.service-item__wrap .service-item__package {
  font-weight: 700;
}
.service-item__wrap .service-item__title {
  font-weight: 900;
  font-size: 1.25rem;
  padding-bottom: 10px;
}
.service-item__wrap .service-item__desc {
  flex-direction: column;
}
.service-item__wrap .service-item__desc span:not(:first-child) {
  padding-bottom: 10px;
}
.service-item__wrap .service-item__desc span:nth-child(2n) {
  font-weight: 700;
}
.service-item__wrap .service-item__cross-price {
  position: relative;
}
.service-item__wrap .service-item__cross-price .cross-price__line {
  position: absolute;
  left: -5px;
  top: 12px;
}

.service-item__price span {
  font-weight: 700;
  font-size: 1.1rem;
}

.service-item__cross-price span {
  font-size: 1.1rem;
}

.btn__sign-up--service-item {
  background-color: var(--color-accent);
  border: solid 2px var(--color-accent);
  text-align: center;
  color: var(--color-content);
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.75rem;
  margin-top: 25px;
  margin-bottom: 5px;
  transition: 0.5s ease;
}

.btn__sign-up--service-item:hover {
  background-color: #D7F1D8;
  color: var(--color-bg);
  transition: 0.5s ease;
  border: solid 2px var(--color-font);
  cursor: pointer;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */